
<div class="container jumbotron">
  <h1 class="display-4">Admin Panel</h1>
  <p class="lead">This is a panel for admin to view all users, create races and running groups.</p>
  <hr class="my-4">
  <ul class="list-group">
    <li class="list-group-item">
        <a href="/admin/users" class="btn btn-primary">View all Users</a> 
    </li>
    <li class="list-group-item">
        <a href="/admin/createrunninggroup" class="btn btn-primary">Create Running Group</a>
    </li>
    <li class="list-group-item">
        <a href="/admin/createrace" class="btn btn-primary">Create Race</a>
    </li>
</ul>
</div>
