
<div class="main">
    <div class="login-form">
        <form action="user/login" method="get">
            <div class="text-input-container">
                <input type="text" class="form-control" placeholder="Email" id="email" name="email" value={{@email}}>
                <input type="password" class="form-control" placeholder="Password" id="password" name="password" value={{@password}}>
            </div>
            <button class="btn btn-black" type="submit">Login</button>
            <a href="/register"><button title="Large Button" type="button" class="btn btn-black">Register</button></a>
        </form>
    </div>
</div>