<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Running Race Sign Up</title>
</head>

<body>
    <div class="header">
        <div class="header-logo">
            {{!-- <i class="icon"></i> --}}
        </div>
        <div class="header-info">
            <label class="product-info">Running Race Sign Up</label>
            <label class="user-info">Elizabeth Phillips-Shweta Rane | Texas State University | Round Rock, TX</label>
        </div>
        <div class="header-actions">
            <div class="active"><i class="icon_home"></i><a href="/user">Index</a></div>
            <div><i class="icon_person"></i><a href="/user/create">Create</a></div>
        </div>

    </div>
    <div class=" content">
        {{{body}}}
    </div>
</body>

</html>