
 
<section class="container-fluid " id="image">

    <div class="col-lg-6 text-block">
        <h3>What We Do </h3>
        <p>Running races are growing in popularity every year. Whether your goal is to run a 5k, 10k, half marathon or marathon, there are several choices out there. With all these choices, finding the right race for you becomes difficult. Our goal is to give you an experience to find a future race and view all previous races.</p>
        
    </div>
</section>


<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="https://media.gettyimages.com/photos/running-is-a-way-of-life-picture-id499778717" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Find race groups!</h2>
                    <p>Find people who run at your pace at a place near you! Traveling? No problem! Search by zipcode! Want people at your pace? Search by pace!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="https://media.gettyimages.com/photos/with-her-by-my-side-i-can-run-miles-picture-id869641280" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Find races!</h2>
                    <p>Find races at a time, place and distance that works with you! See all of your previous races!</p>
                </div>
            </div>
        </div>
    </div>
</section>
