
  <header class="bg-primary py-5 mb-5" style="background-image: 'running-banner.jpg'; background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Ready, Race, Run!</h1>
        </div>
      </div>
    </div>
  </header>
  <div class="container">

    <div class="row">
      <div class="col-md-6 mb-5">
        <h2>What We Do</h2>
        <hr>
        <p>Running races are growing in popularity every year. Whether your goal is to run a 5k, 10k, half marathon or marathon, there are several choices out there. With all these choices, finding the right race for you becomes difficult. Our goal is to construct a website that will help a user find a future race and view all previous races.    </p>
      </div>
      <div class="col-md-6 mb-5">
          {{#if data.login}}
            <div class="sidenav">
                <div class="login-main-text">
                    <h2>Login</h2>
                    <hr>
                    <p>Login or register from here to access.</p>
                </div>
            </div>
            {{>login}}
          {{else}}
            <div class="sidenav">
                <div class="login-main-text">
                <h2>Create an Account</h2>
                </div>
            </div>
            {{>register}}
          {{/if}}
      </div>
    </div>
  </div> 
{{!-- 

<section class="container-fluid " id="image">

    <div class="col-lg-6 text-block">
        <h3>What We Do </h3>
        <p>Running races are growing in popularity every year. Whether your goal is to run a 5k, 10k, half marathon or marathon, there are several choices out there. With all these choices, finding the right race for you becomes difficult. Our goal is to construct a website that will help a user find a future race and view all previous races.</p>
        
    </div>
</section>


<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="https://media.gettyimages.com/photos/running-is-a-way-of-life-picture-id499778717" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Find race groups in your area ..</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit
                        iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione
                        voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="https://media.gettyimages.com/photos/with-her-by-my-side-i-can-run-miles-picture-id869641280" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Connect with people like you!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit
                        iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione
                        voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="https://media.gettyimages.com/photos/time-to-clock-another-personal-best-picture-id916060452" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Get recommendations!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit
                        iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione
                        voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
</section>  --}}
